body {
    font-family: 'Titillium Web', sans-serif;
    color: black;
}
/* color the table */
table, tr, td, th {
    color: white;
    border: white 2px solid;
}
nav.navbar-default {
    margin-bottom: 0;
    box-shadow: none;
    border: 0;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}
header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
}
header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(0, 0, 0,.7);
}
.about {
    padding: 50px 0;
}

.main {
    height: 100%;
    background-color: rgba(46, 169, 223, 1);    
}

.header {
    //padding-top: 8%;
    font-size: 65px;
    text-align: center;
}

.sub-header {
    font-size: 30px !important;
}

.learn {
    width: 400px;
    height: 60px;
    margin-top: 176px;
    background-color: #265a88;
    background-color: rgba(46, 169, 223, 1);
    border: 3px solid #FFF;
    color: #fff;
    font-size: 30px;
}
#details {
    height: 470px;   
}
#features {
    margin-left: 10px;

}
#features .col-md-4, #signupbtns .col-md-6 {
    text-align: center;   
}
#signupbtns .col-md-6 a {
    border: 3px solid #000;   
}
form#signupform {
    margin-left: 15%;
    margin-top: 5%;
}
input.textfield {
    margin-bottom: 2% !important;
    width: 80%;
    background-color: #2EA9DF !important;
    border: 0;
    border-bottom: 2px solid #fff;
    color: #fff !important;
    font-size: 30px;
}
::-webkit-input-placeholder {
   color: #fff;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

:-ms-input-placeholder {  
   color: #fff;  
}
h1.signup.header {
    color: #fff;
    margin-top: 0px;
}
#signup.btn.learn {
    margin-top: 20px;
    margin-left: 23%;
}
section.main.containersignup {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    height: 100%;
}

/* Navbar */
.navbar.navbar-default .container-fluid{
    background-color: rgba(46, 169, 223, 1);
    border-bottom: 2px solid #fff;
}
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-brand, 
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-text, 
.navbar-default .navbar-link:hover,
.navbar-default .navbar-link{
    color: white;
}

#maintable {
    margin-left: 20%;
}